.top-pane {
    -fx-pref-height: 50.0;
}

.top-button {
    -fx-background-radius: 5;
    -fx-start-margin: 5;
    -fx-background-color: C0C0C0;
    -fx-pref-width: 40;
    -fx-pref-height: 40;
}

.main-pane {
    -fx-background-color: E0E0E0;
}

.top-right-box, .top-left-box {
    -fx-spacing: 10;
    -fx-padding: 5;
    -fx-pref-height: 50.0;
}

.bottom-pane {
    -fx-background-color: gray;
    -fx-pref-height: 550.0;
    -fx-padding: 25;
}

.modView {
    -fx-border-color: black;
    -fx-border-width: 5;
    -fx-border-radius: 3;
    -fx-background-radius: 5;
}